*.DS_Store
renderer.conf
lib/.pls-tmp-*
webwork-open-problem-library
private
tmp/*
!tmp/.gitkeep
logs/*

node_modules
public/**/*.min.js
public/**/*.min.css
public/static-assets.json

*.o
*.pm.tdy
*.bs
*.pid
.idea/
