*.DS_Store
render_app.conf
lib/WeBWorK/htdocs/tmp/renderer/gif/*
lib/WeBWorK/htdocs/tmp/renderer/images/*
webwork-open-problem-library/
private/
tmp/
logs/*.log

start.sh

!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
lib/WeBWorK/lib/WebworkClient/nosubmit_format.pl
lib/WeBWorK/lib/WebworkClient/single_format.pl
lib/WeBWorK/lib/WebworkClient/static_format.pl
