*.DS_Store
render_app.conf
lib/WeBWorK/htdocs/tmp/renderer/gif/*
lib/WeBWorK/htdocs/tmp/renderer/images/*
lib/WeBWorK/htdocs/DATA/*.json
lib/WeBWorK/bin/*
webwork-open-problem-library/
private/
tmp/*
!tmp/.gitkeep
logs/*.log

node_modules
public/**/*.min.js
public/**/*.min.css
public/static-assets.json

*.o
*.pm.tdy
*.bs
.idea/
