{
  secrets => ['reveal_your_secrets','revelio','alohamora'],
  url => '/',
  form => '/render-api',
  hypnotoad => {
    listen => ['http://*:3000'],
    accepts => 1000,
    workers => 10,
    spare => 5,
    clients => 100,
    graceful_timeout => 45,
    inactivity_timeout => 30,
    keep_alive_timeout => 30,
    requests => 5,
  }
};
