* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.iframe-container {
    position: relative;
    overflow: hidden;
}

.iframe-responsive {
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    border: 0;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#currentEditPath {
  font-size: 11px;
  padding: 5px;
  padding-bottom: 13px;
}

.iframe-container button {
  float: left;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-bottom: 8px;
  margin-left: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.iframe-container .render-option {
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-bottom: 8px;
  margin-left: 16px;
  display: block;
  float: left;
}

.iframe-container button:hover {
  background: #ccc;
}
