name: Github Packages Release

on:
  push:
    branches:
    - master
    - development
    tags:
    - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it        
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      
      - name: Extract branch/tag name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF##*/})"
        id: extract_branch
      
      # make sure you have "Improved Container Support" enabled for both your personal and/or Organization accounts!
      - uses: pmorelli92/github-container-registry-build-push@2.0.0
        name: Build and Publish latest service image
        with:
          # Read note below to see how to generate the PAT
          github-push-secret: ${{secrets.GITHUB_TOKEN}}
          docker-image-name: ww-renderer
          docker-image-tag: ${{ steps.extract_branch.outputs.branch }}
