name: Github Packages Release

on:
  push:
    branches:
    - master
    - development
    tags:
    - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # make sure you have "Improved Container Support" enabled for both your personal and/or Organization accounts!
      # TODO shift repo target to https://github.com/pmorelli92/github-container-registry-build-push/pull/1
      - uses: LibreTexts/github-container-registry-build-push@main
        name: Build and Publish latest service image
        with:
          # Read note below to see how to generate the PAT
          personal-access-token: ${{secrets.GITHUB_TOKEN}}
          docker-image-name: ww-renderer
          docker-image-tag: ${GITHUB_REF}
